In [4]:
import sys
import os
sys.path.append(os.path.abspath(".."))  # so you can import from /data

In [11]:
import importlib
import data.fetcher
import pandas as pd
importlib.reload(data.fetcher)
from data.fetcher import fetch_stock_price

df = fetch_stock_price("AAPL", start="2020-01-01", end="2024-01-01")
df.head()

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
0,2020-01-02,72.716080,75.087502,75.150002,73.797501,74.059998,135480400
1,2020-01-03,72.009132,74.357498,75.144997,74.125000,74.287498,146322800
2,2020-01-06,72.582893,74.949997,74.989998,73.187500,73.447502,118387200
3,2020-01-07,72.241547,74.597504,75.224998,74.370003,74.959999,108872000
4,2020-01-08,73.403625,75.797501,76.110001,74.290001,74.290001,132079200